@tailwind base;
@tailwind components;
@tailwind utilities;

body, html, #root {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Prevent scrolling */
  }
  
  #stars, #stars2, #stars3 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  /* Fix for keeping bg-gray-700 on input fields */
input:focus {
  background-color: #374151 !important; /* This matches bg-gray-700 */
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
}

input[type="text"]:focus, 
input[type="email"]:focus {
  background-color: #374151 !important; /* This matches bg-gray-700 */
}

/* Custom Scrollbar Styling */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #3182ce;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #2d3748;
  border-radius: 10px;
}
